table {
    width: 500%;
    margin-left: -250px;
    margin-right: 150px;
    margin-top: auto;
  }

  table th, table td {
    height: 10px;
    width: 10px;
    vertical-align:top;
    text-align:center;
  }


 .Number {
    text-align: center;
  }

  tr:hover {
    background-color: rgba(0, 0, 255, 0.788);
    color: white;
  
  }

  .Number{
    text-align: center;
  }