<div class="containter">
  <table class="table">
    <thead>
      <!--<tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">LastName</th>
        <th scope="col">Indentification</th>
        <th scope="col">Number</th>
      </tr>-->
    </thead>
    <tbody>
      <tr>
        <th scope="row">#{{table.NumLista}}</th>
        <td id="name">{{table.Name}}</td>
        <td>{{table.LastName}}</td>
        <td>{{table.Indent}}</td>
        <td id="Name">{{table.Number}}</td>
      </tr>
    </tbody>
  </table>
</div>
  
